/* Основные стили сайта */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Font"; 
    src: url("fonts/font.woff2"); 
    font-style: normal; 
    font-weight: normal;
}

:root {
    --bg-color: rgb(33, 33, 33);
    --bg-light: rgb(55, 55, 55);
    --color-dark: rgb(180, 180, 180);
    --border-radius: 5px;
}   

::-webkit-scrollbar {
    width: 5px;
    color: var(--color-dark);
}

::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: var(--border-radius);
    color: gold;
}

a {
    text-decoration: none;
    color: white;
}

button, .contact-me {
    width: fit-content;
    font-size: 20px;
    padding: 5px 10px;
    color: gold;
    border: 2px solid gold;
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    transition: 0.5s ease;
}

button:hover, .contact-me:hover {
    box-shadow: inset 200px 0 0 0 gold;
    color: var(--bg-color) !important;
}

body {
    font-size: 25px;
    margin: 0;
    padding: 0;

    background-color: var(--bg-color);
    color: white;
    font-family: 'Comic Sans MS, Comic Sans', cursive;
}

header {
    font-size: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: var(--bg-color);
    box-shadow: 0 5px 5px var(--bg-color);
    /* To ensure it's on top */
    z-index: 1000;
}

.header-block {
    display: flex;
    align-items: center;
    gap: 60px;
}

.block-left {justify-content: left;}
.block-center {justify-content: center;}
.block-right {justify-content: right;}

/* Нужно вернуть некоторые стили */
aside {
    right: 10px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-right: 10px;
    border-right: solid 2px gold;
}

aside img {
    width:35px;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:nth-child(1) {
    box-shadow: 0 5px 5px rgb(20, 20, 20);
}

.section-block {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    background-image: url('./static/images/me/Gleb.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Чтобы изображение заднего фона не перекрывалось шапкой */
    background-size: auto calc(100% - 60px);
    background-position: right bottom;
}

.text-block {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10%;
    gap: 20px;
}

.section-block .main-img {
    height: 100%;
}

.text-block h1 {
    font-size: 40px;
    margin: 0;
}

.text-block small {
    font-size: 20px;
}

.text-block .contact-me {
    width: fit-content;
    font-size: 20px;
    padding: 8px 15px;
    color: gold;
    border: 2px solid gold;
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
}

.gold {
    color: gold;
}

.data-section {
    display: flex;
    /* Позволяет отцентровать все секции с контентом сайта по середине */
    flex-direction: column;
    gap: 10px;
    padding: 5% 0;
}

.data-block {
    width: 100%;
    padding: 5% 10%;
    /* Центровка содержимого секций по середине */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* При использовании этого свойства сертификаты становятся меньше, но заголовки разделов центрируются */
    /* align-items: center; */
    
    gap: 10px;
}

.data-block h2 {
    width: fit-content;
    border-bottom: solid 2px gold;
    margin: 0;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.data-block p {
    margin: 0;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.skill-block {
    width: 135px;
    height: 135px;
    background-color: var(--bg-light);
    border-radius: var(--border-radius);
    border: 2px solid var(--bg-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    transition: 0.2s ease;
}
.skill-block:hover {
    border-color: gold;
}

.skill-block img {
    width: 50px;
    height: 50px;
}

.left {
    justify-content: left;
    align-items: flex-start;
    text-align: left;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.portfolio-block {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: var(--bg-light);
    border: 2px solid var(--bg-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    transition: 0.2s ease;
}

.portfolio-block:hover {
    border-color: gold;
}

.portfolio-block img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.2s ease;
    z-index: 4;
}

.portfolio-block h3, small, button {
    z-index: 3;
    margin: 0;
    transition: 0.2s ease;
}

.portfolio-block button {
    width: fit-content;
    font-size: 13px;
    padding: 5px 10px;
    color: var(--bg-light);
    border: 2px solid gold;
    background-color: gold;
    border-radius: var(--border-radius);
}

.portfolio-block:hover img {
    filter: brightness(20%);
}

.portfolio-block:hover h3, .portfolio-block:hover small, .portfolio-block:hover button {
    z-index: 5;
}

/* Стили Experience Timeline */
#experience {
    background-color: var(--bg-light);
    width: 100%;
    align-items: flex-start;
    box-shadow: 0 0 5px rgb(20, 20, 20);
}

.exp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
}

.exp-cont-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.exp-date {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.exp-date .line {
    width: 2px;
    height: 100%;
    background-color: gold;
}

.exp-date .point {
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    padding: 8px 15px;
}

.exp-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.exp-block h3 {
    margin: 0;
}

.exp-block p {
    margin: 0;
}

/* Стили слайдера сертификатов */

/* Центровка содержимого секций по середине */

.itc-slider__item {
    flex: 0 0 33.3%;
    /* Размер сертификатов */
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itc-slider__item img {
    width: 100%;
    margin: 0 10px;
    box-shadow: 0 0 5px rgb(20, 20, 20);
    border-radius: var(--border-radius);
}

/* z-index не может перекрыть position: fixed в aside */
.itc-slider__btn_prev {
    left: -40px;
}
.itc-slider__btn_next {
    right: -40px;
}

.itc-slider__btn:hover {
    background-color: gold;
}
